<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<targets>
		<!-- Console logging -->
		<target xsi:type="Console" name="console"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />

		<!-- File logging -->
		<target xsi:type="File" name="logfile"
				fileName="Logs/xpos_connect_${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}"
				keepFileOpen="false"
				encoding="utf-8"
				archiveFileName="Logs/Archive/log.{#}.log"
				archiveNumbering="Rolling"
				archiveEvery="Day"
				maxArchiveFiles="7" />
	</targets>

	<rules>
		<!-- Log everything from Info and above -->
		<logger name="*" minlevel="Info" writeTo="console,logfile" />
	</rules>
</nlog>
